My workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3a01e5a6-80b7-4ca4-bb53-45e71d3982e8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs",
          "mode": "list",
          "cachedResultName": "Loan Approval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626527852,
          "mode": "list",
          "cachedResultName": "regenerate the decision column ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit#gid=1626527852"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9da96c66-5848-48d2-ba27-c494c2fc454c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FL99ffvveE4qU0is",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94c090f6-aa46-40a3-8c0d-b1fb1873e988",
              "leftValue": "={{$json.Annual_Income_USD}}",
              "rightValue": 80000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "579e8218-5d58-47d6-be36-fe68b66f7ebf",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "muskangarg.mg02@gmail.com",
        "subject": "Reject Application",
        "message": "=Dear Applicant,\n\nThank you for applying for a loan with us.  \nAfter reviewing your application (Application_ID), we regret to inform you that we are unable to approve your loan request at this time.  \nThis decision was based on our current eligibility and risk assessment criteria.  \nYou may reapply in the future after improving the relevant financial parameters.  \n\nThank you for your interest in our services.  \nBest Regards, \nLoan Processing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        112
      ],
      "id": "5f542dce-879d-4656-acc7-96bc9607104e",
      "name": "Send a message",
      "webhookId": "b6e18160-4f3b-4230-bd88-62b0fc6cd7c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "u5PGiKSbOxBbUCt8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04aa5a3f-19a6-4030-919c-ed5536836da4",
              "leftValue": "={{$json.Credit_Score}}",
              "rightValue": 680,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -96
      ],
      "id": "3eb692cc-3029-4cff-b60e-e2108c0908d7",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "muskangarg.mg02@gmail.com",
        "subject": "Reject Application",
        "message": "=Dear Applicant,  \n\nThank you for applying for a loan with us.  \nAfter reviewing your application (Application_ID), we regret to inform you that we are unable to approve your loan request at this time.  \nThis decision was based on our current eligibility and risk assessment criteria in credit score.   \nYou may reapply in the future after improving the relevant financial parameters.  \n\nThank you for your interest in our services.  \nBest Regards, \nLoan Processing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -32
      ],
      "id": "fd84845c-b43e-4d14-8ec7-d2032e36b7e5",
      "name": "Send a message1",
      "webhookId": "5575bd82-30fe-4497-a20e-8ea5204fa427",
      "credentials": {
        "gmailOAuth2": {
          "id": "u5PGiKSbOxBbUCt8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e4aadcb-5bcf-437f-b277-c0b2087c771e",
              "leftValue": "={{$json.Debt_To_Income_Ratio}}",
              "rightValue": 0.4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -192
      ],
      "id": "11c5e20e-afbb-4395-94b1-72a658ea03f2",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "987bdfe4-09cf-4917-8046-c0efef5db94e",
              "leftValue": "={{$json.Watchlist_Match_Pct}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -272
      ],
      "id": "8c3a27c2-e230-4604-a025-a963febd023c",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "muskangarg.mg02@gmail.com",
        "subject": "Review Application",
        "message": "=Dear Applicant,  \n\nThank you for submitting your loan application (Application_ID).  \nYour application is currently under review by our underwriting team for additional assessment.  \nWe may contact you if further information or documentation is required. \nThe final decision will be communicated to you shortly.  \n\nThank you for your patience and cooperation.  \nBest Regards, \nLoan Processing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -112
      ],
      "id": "fc0fcb9e-78d1-4fde-8168-7134aef9c67e",
      "name": "Send a message2",
      "webhookId": "4da86020-9099-4b68-9182-aabaa75ff798",
      "credentials": {
        "gmailOAuth2": {
          "id": "u5PGiKSbOxBbUCt8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "muskangarg.mg02@gmail.com",
        "subject": "Loan Approved",
        "message": "=Dear Applicant,  \n\nCongratulations!  \n\nWe are pleased to inform you that your loan application (Application_ID) has been approved based on the information provided and our eligibility assessment.  \nOur team will contact you shortly regarding the next steps and loan disbursement process.  \nThank you for choosing our services.  \n\nBest Regards, \nLoan Processing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -288
      ],
      "id": "5e41d22e-8741-469c-9cab-a9a7bac6f26a",
      "name": "Send a message3",
      "webhookId": "9685fb79-e88e-44ec-8754-67b0b850e8d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "u5PGiKSbOxBbUCt8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs",
          "mode": "list",
          "cachedResultName": "Loan Approval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626527852,
          "mode": "list",
          "cachedResultName": "regenerate the decision column ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit#gid=1626527852"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application_ID": "={{ $('If').item.json.Application_ID }}",
            "Status": "Rejected",
            "Risk_Level": "High Risk",
            "Decision": "Rejected",
            "Processed_Time": "Current Date",
            "Remarks": "Low Income"
          },
          "matchingColumns": [
            "Application_ID"
          ],
          "schema": [
            {
              "id": "Application_ID",
              "displayName": "Application_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Income_USD",
              "displayName": "Annual_Income_USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount_Requested",
              "displayName": "Loan_Amount_Requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_To_Income_Ratio",
              "displayName": "Debt_To_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Watchlist_Match_Pct",
              "displayName": "Watchlist_Match_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "System_Initial_Action",
              "displayName": "System_Initial_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Max_Allowable_EMI",
              "displayName": "Max_Allowable_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision_Primary_Basis",
              "displayName": "Decision_Primary_Basis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed_Time",
              "displayName": "Processed_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        144
      ],
      "id": "ff01e1b7-a6d3-4498-ab09-ee9321ecf0d4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FL99ffvveE4qU0is",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs",
          "mode": "list",
          "cachedResultName": "Loan Approval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626527852,
          "mode": "list",
          "cachedResultName": "regenerate the decision column ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit#gid=1626527852"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application_ID": "={{ $('Get row(s) in sheet').item.json.Application_ID }}",
            "Status": "Rejected",
            "Risk_Level": "High Risk",
            "Decision": "Rejected",
            "Processed_Time": "Current Date",
            "Remarks": "Low Credit Score"
          },
          "matchingColumns": [
            "Application_ID"
          ],
          "schema": [
            {
              "id": "Application_ID",
              "displayName": "Application_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Income_USD",
              "displayName": "Annual_Income_USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount_Requested",
              "displayName": "Loan_Amount_Requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_To_Income_Ratio",
              "displayName": "Debt_To_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Watchlist_Match_Pct",
              "displayName": "Watchlist_Match_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "System_Initial_Action",
              "displayName": "System_Initial_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Max_Allowable_EMI",
              "displayName": "Max_Allowable_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision_Primary_Basis",
              "displayName": "Decision_Primary_Basis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed_Time",
              "displayName": "Processed_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -32
      ],
      "id": "801895e6-8b42-4a10-9397-03eff0830434",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FL99ffvveE4qU0is",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs",
          "mode": "list",
          "cachedResultName": "Loan Approval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626527852,
          "mode": "list",
          "cachedResultName": "regenerate the decision column ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit#gid=1626527852"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application_ID": "={{ $('Get row(s) in sheet').item.json.Application_ID }}",
            "Status": "Under Review",
            "Risk_Level": "Medium Risk",
            "Decision": "Review",
            "Processed_Time": "Current Date",
            "Remarks": "Additional verification required"
          },
          "matchingColumns": [
            "Application_ID"
          ],
          "schema": [
            {
              "id": "Application_ID",
              "displayName": "Application_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Income_USD",
              "displayName": "Annual_Income_USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount_Requested",
              "displayName": "Loan_Amount_Requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_To_Income_Ratio",
              "displayName": "Debt_To_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Watchlist_Match_Pct",
              "displayName": "Watchlist_Match_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "System_Initial_Action",
              "displayName": "System_Initial_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Max_Allowable_EMI",
              "displayName": "Max_Allowable_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision_Primary_Basis",
              "displayName": "Decision_Primary_Basis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed_Time",
              "displayName": "Processed_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -112
      ],
      "id": "35f47faf-f04d-4283-bfa2-7a8f589d32ba",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FL99ffvveE4qU0is",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs",
          "mode": "list",
          "cachedResultName": "Loan Approval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626527852,
          "mode": "list",
          "cachedResultName": "regenerate the decision column ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2ujnZ0VXwgeMauHgrlPo9dBSNYKRELs6KGoxQvxgcs/edit#gid=1626527852"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application_ID": "={{ $('Get row(s) in sheet').item.json.Application_ID }}",
            "Status": "Approved",
            "Risk_Level": "Low Risk",
            "Decision": "Approved",
            "Processed_Time": "Current Date",
            "Remarks": "Meets all eligibility criteria"
          },
          "matchingColumns": [
            "Application_ID"
          ],
          "schema": [
            {
              "id": "Application_ID",
              "displayName": "Application_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Income_USD",
              "displayName": "Annual_Income_USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount_Requested",
              "displayName": "Loan_Amount_Requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_To_Income_Ratio",
              "displayName": "Debt_To_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Watchlist_Match_Pct",
              "displayName": "Watchlist_Match_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "System_Initial_Action",
              "displayName": "System_Initial_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Max_Allowable_EMI",
              "displayName": "Max_Allowable_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision_Primary_Basis",
              "displayName": "Decision_Primary_Basis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed_Time",
              "displayName": "Processed_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -288
      ],
      "id": "5a1ab504-1c70-47a4-81e7-d63f57f48163",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FL99ffvveE4qU0is",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d928c8ff-5200-461d-839e-ecfb63ff6fa5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b994b1f54fa9cd99464c6790dff27f679d48578f06240e080b76484b346825a"
  },
  "id": "xqpgpAzSkfDdFtj1",
  "tags": []
}